{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="puppies">
    <section class="pup-feed">
      <div class="row">
        {{ $sec := ($.Site.GetPage "section" "puppies").Pages }}
        {{ range $elem_index, $elem_val := $sec }}
          {{ if or (eq $elem_index 0) (eq $elem_index 1) }}
            {{ .Render "li" }}
          {{ end }}
        {{ end }}
      </div>
      <div class="divider"></div>
      <div class="row">
        {{ range $elem_index, $elem_val := $sec }}
          {{ if or (eq $elem_index 2) (eq $elem_index 3) }}
            {{ .Render "li" }}
          {{ end }}
        {{ end }}
      </div>
    </section>
    <section class="instant-wrap"></section>
    <!--<div class="divider"></div>
    <section class="extra-content">
      <div class="content-box top">
        <h3></h3>
        <p></p>
      </div>
      <div class="divider"></div>
      <div class="content-box bottom">
        <h3></h3>
        <p></p>
      </div>
    </section>-->
  </main>
  {{ partial "footer.html" . }}
{{ end }}
{{ define "scripts" }}
<script>
    var getHTML = (url, timeout, callback) => {
    // Feature detection
    if ( !window.XMLHttpRequest ) return;
    // Create new request
    var xhr = new XMLHttpRequest();
    // Timeout log
    xhr.ontimeout = function () {
      console.error("The request for " + url + " timed out.");
    };
    // Setup callback
    xhr.onload = function() {
      if ( callback && typeof( callback ) === 'function' ) {
        callback( this.responseXML );
      }
      if (xhr.readyState != 4) return;
      if (xhr.status != 200 && xhr.status != 304) {
        console.log('HTTP error ' + xhr.status);
        return;
      }
    }
    // Get the HTML
    xhr.open( 'GET', url );
    xhr.responseType = 'document';
    xhr.timeout = timeout;
    xhr.send();
  };
  // Fetch and appen instant articles
  let instant = document.querySelector('section.instant-wrap')
  {{ range .Pages }}
  {{ $link := replaceRE " " "-" (.Title | lower) }}
  getHTML('/puppies/{{ $link }}',2000,(response) => {
    const post = response.querySelector('article.post.instant')
    instant.append(post)
  });
  {{ end }}

  // Activate instant articles on click
  let openArtLink = document.querySelectorAll('a.button.instant')
  openArtLink.forEach(link => {
    link.removeAttribute('href')
    link.addEventListener('click', () => {
      const data = link.getAttribute('data-instant')
      const instArt = document.querySelector('article#'+data)
      const img = instArt.querySelectorAll('figure > img')
      instant.classList.add('active')
      instArt.classList.add('active')
      img.forEach(i => {
        const l = i.getAttribute('data-src')
        i.setAttribute('src',l)
        i.classList.add('loaded')
      })
    })
  })

  // Close instant articles
  var closeInst = name => {
    const instArt = document.querySelector('article#'+name)
    instant.classList.remove('active')
    console.log(instArt)
    setTimeout(() => {
      instArt.classList.remove('active')
    }, 250);
  }
</script>
{{ end }}