{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="puppies">
    <section class="pup-feed">
      <div class="row">
        {{ $sec := ($.Site.GetPage "section" "puppies").Pages }}
        {{ range $elem_index, $elem_val := $sec }}
          {{ if or (eq $elem_index 0) (eq $elem_index 1) }}
            {{ .Render "li" }}
          {{ end }}
        {{ end }}
      </div>
      <div class="divider"></div>
      <div class="row">
        {{ range $elem_index, $elem_val := $sec }}
          {{ if or (eq $elem_index 2) (eq $elem_index 3) }}
            {{ .Render "li" }}
          {{ end }}
        {{ end }}
      </div>
    </section>
    <section class="instant"></section>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
{{ define "scripts" }}
<script>
    var getHTML = (url, callback) => {
    // Feature detection
    if ( !window.XMLHttpRequest ) return;
    // Create new request
    var xhr = new XMLHttpRequest();
    // Setup callback
    xhr.onload = function() {
      if ( callback && typeof( callback ) === 'function' ) {
        callback( this.responseXML );
      }
    }
    // Get the HTML
    xhr.open( 'GET', url );
    xhr.responseType = 'document';
    xhr.send();
  };
  {{ range .Pages }}
  {{ $link := replaceRE " " "-" (.Title | lower) }}
  getHTML('/puppies/{{ $link }}',(response) => {
    const instant = document.querySelector('section.instant')
    const post = response.querySelector('article.post')
    instant.append(post)
  });
  {{ end }}
</script>
{{ end }}