{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="single frenchie">
    {{ $name := replaceRE " " "-" (.Title | lower) }}
    <article id="{{ $name }}" class="post instant">
      <a class="button close-instant" style="display:block" onclick="closeInst({{ $name }})">Close Article</a>
      {{ $img := resources.Get (print "img/puppies/" (.Params.image)) }}
      <figure class="hero-wrap" style="background-image: url('{{ $img.Permalink }}')">
        <div class="overlay"></div>
        <section class="heading">
          <h1 class="title">{{ .Title }}</h1>
        </section>
        {{ $s := .Section }}
        <section class="details">
          <time class="date meta" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        </section>
      </figure>
      <section class="content">
        <p>{{ .Content }}</p>
      </section>
      <a class="button close-instant" style="display:block" onclick="closeInst({{ $name }})">Close Article</a>
    </article>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
