{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="separate{{ if eq .Title "About Us | Ethical Frenchie" }} about{{ else if eq .Title "Contact Us | Ethical Frenchie" }} contact{{ else if eq .Title "Puppies" }} puppies{{ end }}">
    {{ if eq .Title "About Us | Ethical Frenchie" }}
      {{ partial "about-us.html" . }}
    {{ else if eq .Title "Contact Us | Ethical Frenchie" }}
      {{ partial "contact-us.html" . }}
    {{ else if eq .Title "Puppies" }}
      {{ partial "puppies.html" . }}
    {{ else if eq .Title "Reviews" }}
      {{ partial "reviews.html" . }}
    {{ else }}
      <section class="offline">
        <article>
          {{ .Content }}
        </article>
      </section>
    {{ end }}
  </main>
  {{ partial "footer.html" . }}
{{ end }}