@import 'variables';
@import 'fonts';
@import 'extends';
@import 'mixins';
@import 'reset';
@import 'navbar';
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
body {
  font: 400 18px 'Montserrat', sans-serif;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  /* Fallback */
  padding: 0 10px;
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  header {
    @extend %content-center;
    @extend %fixed;
    @extend %full-width;
    @extend %items-center;
    background-color: $background;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,0.08);
    height: 55px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
  }
  main {
    margin: 55px 0 0;
    padding: 0;
    section.hero-slideshow {
      @extend %full-width;
      height: 885px;
      margin-bottom: 20px;
      @include media-query-max($dsk) {
        height: 765px;
      }
      @include media-query-max($tbl) {
        height: 585px;
      }
      @include media-query-max($phn-lg) {
        height: 345px;
      }
      @include media-query-max($phn-sm) {
        height: 265px;
      }
      div.swiper-container {
        @extend %relative;
        box-shadow: $box-lg;
        overflow: hidden;
        z-index: 1;
        ul.swiper-wrapper {
          @extend %flex;
          @extend %full-width;
          @extend %relative;
          box-sizing: content-box;
          margin: 0;
          padding: 0;
          transition-property: transform;
          z-index: 1;
          li.swiper-slide {
            @extend %full-width;
            @extend %relative;
            flex-shrink: 0;
            list-style: none;
            margin: 0;
            pointer-events: none;
            transition-property: opacity;
            div.background-img {
              @extend %full-width;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;
              height: 885px;
              @include media-query-max($dsk) {
                height: 765px;
              }
              @include media-query-max($tbl) {
                height: 585px;
              }
              @include media-query-max($phn-lg) {
                height: 345px;
              }
              @include media-query-max($phn-sm) {
                height: 265px;
              }
              div.overlay {
                @extend %content-center;
                @extend %flex;
                @extend %full-width;
                @extend %items-flex-end;
                @extend %relative;
                background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.0) 20%,rgba(0,0,0,0.1) 40%,rgba(0,0,0,0.7) 70%,rgba(0,0,0,1) 100%);
                height: 885px;
                @include media-query-max($dsk) {
                  height: 765px;
                }
                @include media-query-max($tbl) {
                  height: 585px;
                }
                @include media-query-max($phn-lg) {
                  height: 345px;
                }
                @include media-query-max($phn-sm) {
                  height: 265px;
                }
                div.hero-contact {
                  @extend %absolute;
                  @extend %content-center;
                  @extend %flex;
                  @extend %flex-column;
                  @extend %items-center;
                  margin: 0 0 20px;
                  bottom: 0;
                  z-index: 20;
                  > * {
                    color: $background;
                  }
                  h2  {
                    font-size: 21px;
                    font-weight: bold;
                    margin: 0 0 5px;
                  }
                  p {
                    font-size: 13px;
                    margin: 0 0 10px;
                  }
                }
              }
            }
          }
        }
      }
      nav.cta-social {
        margin: -20px auto 0;
      }
    }
  }
  a.brand {
    @extend %no-decoration;
    color: $text;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    &:hover {
      @extend %no-decoration;
      color: $text;
    }
    span {
      color: $main;
      margin: 0;
    }
  }
  nav.cta-social {
    @extend %content-space-around;
    @extend %flex;
    @extend %items-center;
    @extend %relative;
    width: 190px;
    z-index: 20;
    button {
      border: none;
      outline: none;
    }
    > * {
      @extend %content-center;
      @extend %flex;
      @extend %items-center;
      border-radius: 6px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
      height: 40px;
      width: 40px;
      &.facebook {
        background-color: #3B5998;
      }
      &.instagram {
        background-color: #E1306C;
      }
      &.tel {
        background-color: #8CC152;
      }
      &.scroll-up {
        background-color: #656D78;
      }
      img {
        height: 15px;
        width: 15px;
      }
    }
  }
}