@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: local(Montserrat-Light),
       local(Montserrat-Light),
       url("/fonts/Montserrat-Light.woff2") format("woff2"),
       url("/fonts/Montserrat-Light.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: local(Montserrat-Regular),
       local(Montserrat-Regular),
       url("/fonts/Montserrat-Regular.woff2") format("woff2"),
       url("/fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
  src: local(Montserrat-Italic),
       local(Montserrat-Italic),
       url("/fonts/Montserrat-Italic.woff2") format("woff2"),
       url("/fonts/Montserrat-Italic.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: bold;
  src: local(Montserrat-Bold),
       local(Montserrat-Bold),
       url("/fonts/Montserrat-Bold.woff2") format("woff2"),
       url("/fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  src: local(Ubuntu-Regular),
       local(Ubuntu-Regular),
       url("/fonts/Ubuntu-Regular.woff2") format("woff2"),
       url("/fonts/Ubuntu-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-style: bold;
  src: local(Ubuntu-Bold),
       local(Ubuntu-Bold),
       url("/fonts/Ubuntu-Bold.woff2") format("woff2"),
       url("/fonts/Ubuntu-Bold.woff") format("woff");
}