// Import Dependencies
@import 'variables';
@import 'extends';
@import 'mixins';

#button {
  @extend %content-center;
  @extend %flex;
  @extend %items-center;
  @extend %no-decoration;
  background-color: $main;
  border-radius: 10px;
  box-shadow: $box-lg;
  color: $background !important;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  height: 42px;
  padding: 7px 14px;
  text-align: center;
  text-transform: uppercase;
  &.button-sm {
    width: 160px;
  }
  &.button-lg {
    width: 60%;
  }
}
div.divider {
  @extend %full-width;
  background-color: rgba(0,0,0,0.06);
  height: 1px;
  margin: 30px 15px;
}
main {
  section.puppies {
    @extend %content-center;
    @extend %flex;
    @extend %flex-column;
    @extend %items-center;
    padding-top: 40px;
    h2, p {
      @extend %full-width;
      line-height: 26px;
      max-width: 370px;
      padding: 0 15px;
      text-align: center;
    }
    h2 {
      margin: 0 0 5px;
    }
    p {
      font-size: 13px;
      margin-bottom: 30px;
    }
  }
  section.gaurantees {
    @extend %content-center;
    @extend %flex;
    @extend %flex-column;
    @extend %full-width;
    @extend %items-flex-start;
    div.item {
      @extend %content-flex-start;
      @extend %flex;
      @extend %full-width;
      @extend %items-center;
      height: auto;
      margin-bottom: 30px;
      min-height: 80px;
      padding-right: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        height: 40px;
        margin: 0 30px;
        width: 40px;
      }
      div {
        @extend %content-space-between;
        @extend %flex;
        @extend %flex-column;
        @extend %items-flex-start;
        h3 {
          line-height: 30px;
          margin: 0;
        }
        p {
          font-size: 13px;
          line-height: 22px;
        }
      }
    }
  }
}
footer {
  @extend %content-center;
  @extend %flex;
  @extend %flex-column;
  @extend %items-center;
  padding: 30px 15px 60px;
  a.brand {
    font-size: 24px;
  }
  div.divider {
    margin-bottom: 0;
  }
  p {
    font-size: 13px;
    line-height: 26px;
    margin: 0 0 30px;
    padding: 10px;
    text-align: center;
    &.copy {
      @extend %full-width;
      font-size: 11px;
      line-height: 24px;
      margin: 0;
      padding: 15px;
    }
  }
}