a,
article h2 a {
  color: $text;
}
article,
footer,
header,
main {
  padding: 15px;
}
a:active,
a:hover,
article h2 a:active,
article h2 a:hover {
  color: $main;
  text-decoration: underline;
}
a svg {
  fill: $text;
}
a:active svg,
a:hover svg {
  fill: $main;
}
a.meta,
hr,
.meta {
  color: $meta;
}
a.meta:active,
a.meta:hover {
  color: $accent;
}
article {
  a {
    color: $main;
  }
  a:active,
  a:hover {
    color: $accent;
  }
}
article p {
  line-height: 27px;
}
article,
main {
  @extend %margin-center;
  width: 100%;
}
blockquote {
  border-left-color: $main;
  border-left-style: solid;
  border-left-width: 1px;
  margin: 0 0 15px 0;
  padding-left: 15px;
}
figure {
  @extend %full-width;
}
figure,
h1, h2, h3, h4,
nav > *,
p {
  margin: 0;
}
figcaption p {
  padding: 5px;
}
footer,
header,
nav {
  @extend %flex;
}
header {
  text-transform: uppercase;
}
header,
h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h2, h3 {
  margin-top: 10px;
}
img,
svg {
  height: auto;
  width: 100%;
}
li {
  margin-bottom: 5px;
}
nav {
  @extend %items-center;
  justify-content: space-between;
  a svg {
    height: 55px;
    width: 55px;
  }
}
ol,
ul {
  padding-left: 30px;
}
ol ul {
  padding-left: 20px;
}