<section class="heading">
  {{ $logo := resources.Get "img/logo.png" }}
  <img src="{{ $logo.Permalink }}" alt="{{ .Site.Title }}" class="logo">
  <h1>{{ .Site.Title }}</h1>
  <p>The most Exclusive yet Accessible Frenchie breeder on the East Coast</p>
</section>
<div class="divider"></div>
<section class="content">
  <h2 class="title">{{ .Title }}</h2>
  <p>{{ .Content }}</p>
</section>
<div class="divider"></div>
<section class="team">
  <div class="person">
    {{ $james := resources.Get "img/james.jpg" }}
    <img class="face" src="{{ $james.Permalink }}" alt="James Harrison">
    <p class="name">James Harrison</p>
    <nav class="cta-social">
      <a href="http://facebook.com/jamersonnc" class="social-icon facebook" target="_blank" rel="noopener">
        {{ $facebok := resources.Get "img/facebook.svg" | minify }}
        <img src="{{ $facebok.Permalink }}" alt="Connect with me on Facebook">
      </a>
      <a href="http://linkedin.com/in/jamesharrisoniii" class="social-icon linkedin" target="_blank" rel="noopener">
        {{ $linkedin := resources.Get "img/linkedin.svg" | minify }}
        <img src="{{ $linkedin.Permalink }}" alt="Connect with me on Linked In">
      </a>
    </nav>
  </div>
  <div class="person">
    {{ $renee := resources.Get "img/renee.jpg" }}
    <img class="face" src="{{ $renee.Permalink }}" alt="Renee Harrison">
    <p class="name">Renee Harrison</p>
  </div>
  <div class="person">
    {{ $bryan := resources.Get "img/bryan.jpg" }}
    <img class="face" src="{{ $bryan.Permalink }}" alt="Bryan Lee">
    <p class="name">Bryan Lee</p>
    <nav class="cta-social">
      {{ with .Site.Params.social }}
      <a href="https://www.facebook.com/{{.}}" class="social-icon facebook" target="_blank" rel="noopener">
        {{ $facebok := resources.Get "img/facebook.svg" | minify }}
        <img src="{{ $facebok.Permalink }}" alt="Connect with us on Facebook">
      </a>
      {{ end }}
  </div>
</section>
<div class="divider"></div>
<section class="gaurantees">
  <div class="item">
    <div>
      <h3>Healthy Puppy Guarantee</h3>
      <p class="meta">Each of our puppies have regular checkups and come with a clean bill of health. We are extremely selective in listing our french bulldog puppies for sale by genetically testing our mommies and daddies (or "doners") to ensure poor genes aren't passed on.</p>
      <p class="meta">Newborn French Bulldog puppies require extra care. The first 10 days of their life are crucial. Puppies can fade away in an instant if you aren’t present at all times. Making sure they eat every 2 hours, that their temperature doesn’t drop, that they are all gaining weight equally and of course just observing their overall behavior – not missing something that would indicate a major health issue.</p>
      <p class="meta">But of course, the whole process of “producing a healthy French Bulldog” starts way before they are even conceived. Health testing the parents is the responsible thing to do. The last thing you would want is take a risk of dam or sire being a carrier or them having some kind of hereditary condition, that would only bring heartbreak and vet bills to the new potential family.</p>
      <p class="meta">After the French bulldog puppies are old enough, they get their first extensive vet visit. Only after their well being is confirmed and documented is when we start advertising our puppies/taking deposits.</p>
    </div>
    {{ $healthy := resources.Get "img/healthy.svg" | minify }}
    <img src="{{ $healthy.Permalink }}" alt="Medical briefcase.">
  </div>
  <div class="item">
    <div>
      <h3>Early Socialization</h3>
      <p class="meta">We believe it's never to start socializing our french bulldog puppies while training them with positive reinforcement to ensure the smothest transition to your unique household.</p>
      <p class="meta">The socialization of your French Bulldog puppy starts early. Since they are raised inside the house they get exposed to variety of sounds and people as soon as their “ears open” at around 10-14 days of age. Yes, all puppies are born deaf and blind – they rely on their sense of smell to crawl around and find their mother during “feeding time”.</p>
      <p class="meta">It’s hard to believe but some puppies show their dominance and alpha qualities at a very early age. We pay special attention to those and make sure we don’t enforce those traits. We try to establish ourselves as the leader of the pack, which will make your training easier once the puppy is in your care.</p>
      <p class="meta">By the time they are ready they understand the concept of peeing on the pee pad and those that stay with us longer are familiar with the “potty” command. Some are more stubborn than others, so consistency with training is key. <a href="https://ethicalfrenchie.com/potty-train-your-frenchie/" target="_blank">You can read more about French Bulldog potty training here.</a></p>
      <p class="meta">Overall exposing the puppies to positive and versatile experiences is what will predispose them to grow into stable, happy individuals with the absence of phobias and behavioral issues.</p>
    </div>
    {{ $socialization := resources.Get "img/socialization.svg" | minify }}
    <img src="{{ $socialization.Permalink }}" alt="Academic cap.">
  </div>
  <div class="item">
    <div>
      <h3>Buy a Puppy = Save a Puppy</h3>
      <p class="meta">Every time one of our french bulldog puppies are purchased, we donate a large percentage to animal shelters, extending and saving the lives of abandoned older dogs.</p>
      <p class="meta">There are 60-70 million stray dogs and cats in USA. We, by no means want to increase this number, so we ask our potential buyers to please research the breed or ask as many questions as possible. We want to make sure the puppy is a match for your home, and that you will commit to accepting your new addition and caring for it for the next 10+ years. Don’t get one because it’s a trend, or because your neighbor has one and they look cute. They are funny and quirky but also delicate and require a lot of work.</p>
      <p class="meta">If you feel like your heart is in the right place and you are ready for the responsibility, we want you to know that we donate a portion of each puppy purchase to an organization of your or our choice. That way you aren’t only opening your home to a new puppy, but are also helping an abandoned neglected one that wasn’t as fortunate.</p>
    </div>
    {{ $buy := resources.Get "img/buy.svg" | minify }}
    <img src="{{ $buy.Permalink }}" alt="Hearth icon.">
  </div>
  <!-- <div class="stats">
    <h2>30.000+</h2>
    <p class="sub-text">Happy Customers</p>
    <p class="meta">We've served over 30.000 Customers. We're delighted to see happy customers!</p>
  </div> -->
</section>
<!-- <div class="divider"></div>
<section class="numbers">
  <div class="stats">
    <h2>100+</h2>
    <p class="sub-text">Puppies</p>
    <p class="meta">We have over 100 FRENCHIE
        items in our portfolio.</p>
  </div>
  <div class="stats">
    <h2>70+</h2>
    <p class="sub-text">Frenchies</p>
    <p class="meta">We have over 70 FRENCHIE
        items in our portfolio.</p>
  </div>
</section> -->
<div class="divider"></div>
{{ partial "testimonials.html" . }}
<div class="divider"></div>
