<footer id="footer">
  <a class="brand" href="{{ .Site.BaseURL }}"><span>Ethical</span>Frenchie</a>
  <p class="meta">Our Experience, passion, and dedication for our french bulldog puppies speaks for itself.</p>
  <nav class="cta-social">
      {{ with .Site.Params.social }}
      <a href="https://www.facebook.com/{{.}}" class="social-icon facebook">
        {{ $facebok := resources.Get "img/facebook.svg" | minify }}
        <img src="{{ $facebok.Permalink }}" alt="Connect with us on Facebook">
      </a>
      <a href="https://www.instagram.com/{{.}}" class="social-icon instagram">
        {{ $instagram := resources.Get "img/instagram.svg" | minify }}
        <img src="{{ $instagram.Permalink }}" alt="Connect with us on Facebook">
      </a>
      {{ end }}
      <a href="tel:+18002057859" class="social-icon tel">
        {{ $phone := resources.Get "img/phone.svg" | minify }}
        <img src="{{ $phone.Permalink }}" alt="Connect with us on Facebook">
      </a>
    <button class="social-icon scroll-up" onclick="scrollPageTo('body');">
      {{ $up := resources.Get "img/up.svg" | minify }}
      <img src="{{ $up.Permalink }}" alt="Connect with us on Facebook">
    </button>
  </nav>
  <p class="meta copy">&copy{{ .Site.Copyright }} {{ time.Now.Format "2006" }}. All Rights Reserved.</p>
</footer>