{{ define "main" }}
  {{ partial "header.html" . }}
  <main>
    <section class="hero-slideshow">
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Slides -->
        <ul class="swiper-wrapper">
          {{ range $i, $images := .Site.Data.hero.images }}
          <li class="swiper-slide">
            {{ $hero := resources.Get (print "img/" $images) }}
            <div class="background-img" style="background-image:url('{{ $hero.Permalink }}');">
              <div class="overlay">
                <div class="hero-contact">
                  <h2>{{index $.Site.Data.hero.heading $i}}</h2>
                  <p>{{index $.Site.Data.hero.subtext_top $i}}</p>
                  <p>{{index $.Site.Data.hero.subtext_bottom $i}}</p>
                </div>
              </div>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      <nav class="cta-social">
        {{ with .Site.Params.social }}
        <a href="https://www.facebook.com/{{.}}" class="social-icon facebook">
          {{ $facebok := resources.Get "img/facebook.svg" | minify }}
          <img src="{{ $facebok.Permalink }}" alt="Connect with us on Facebook">
        </a>
        <a href="https://www.instagram.com/{{.}}" class="social-icon instagram">
          {{ $instagram := resources.Get "img/instagram.svg" | minify }}
          <img src="{{ $instagram.Permalink }}" alt="Connect with us on Facebook">
        </a>
        {{ end }}
        <a href="tel:+18002057859" class="social-icon tel">
          {{ $phone := resources.Get "img/phone.svg" | minify }}
          <img src="{{ $phone.Permalink }}" alt="Connect with us on Facebook">
        </a>
      </nav>
    </section>
    <section class="breeding">
      <h2>Breeding with Love</h2>
      <p class="meta">We're Humans who love French Bulldogs. While we realize that adopting should always be the first choice, We understand that sometimes you just want to raise your own baby from day 1. As a small Mom & Pop French Bulldog Puppy Breeder, We ensure that every frenchie purchased from us contributes directly to helping neglected and abandoned pets.</p>
      <a href="{{ .Site.BaseURL }}puppies" id="button" class="button-lg">View Our Puppies!</a>
    </section>
    <div class="divider"></div>
    <section class="gaurantees">
      <div class="item">
        {{ $healthy := resources.Get "img/healthy.svg" | minify }}
        <img src="{{ $healthy.Permalink }}" alt="Medical briefcase.">
        <div>
          <h3>Healthy Frenchie Gaurantee</h3>
          <p class="meta">Learn more about our Healthy Frenchie Gaurantee including the extent to which we go out of our way for our babies.</p>
        </div>
      </div>
      <div class="item">
        {{ $socialization := resources.Get "img/socialization.svg" | minify }}
        <img src="{{ $socialization.Permalink }}" alt="Academic cap.">
        <div>
          <h3>Early Puppy Socialization</h3>
          <p class="meta">Socializing our puppies as early as possible makes the transition to its "Furever Home" go that much more smoothly.</p>
        </div>
      </div>
      <div class="item">
        {{ $buy := resources.Get "img/buy.svg" | minify }}
        <img src="{{ $buy.Permalink }}" alt="Hearth icon.">
        <div>
          <h3>Buy a Frenchie = Save an Animal</h3>
          <p class="meta">Since we donate to local shelters, You can rest comfortably knowing that your purchase of a french bulldog puppy sparked a true butterfly effect.</p>
        </div>
      </div>
    </section>
    <div class="divider"></div>
    <section class="testimonials">
      <div class="inner">
        <h2>Happy Adopters!</h2>
        <p class="subtext">What sets us apart? The amount of time we dedicate to you.</p>
        <div class="stars">
          {{ $star := resources.Get "img/star.svg" | minify }}
          <img src="{{ $star.Permalink }}">
          <img src="{{ $star.Permalink }}">
          <img src="{{ $star.Permalink }}">
          <img src="{{ $star.Permalink }}">
          <img src="{{ $star.Permalink }}">
        </div>
        <div class="swiper-container customers">
          <ul class="swiper-wrapper">
            {{ range $i, $customers := .Site.Data.testimonials.customers }}
            <li class="swiper-slide carousel">
              <p>{{ $customers }}</p>
              <p class="verified">
                {{ $verified := resources.Get "img/verified.svg" | minify }}
                <img src="{{ $verified.Permalink }}">
                Verified Customer
                <span>via Facebook</span>
              </p>
            </li>
            {{ end }}
          </ul>
        </div>
        <a href="{{ .Site.BaseURL }}testimonials" id="button" class="button-lg">More Testimonials</a>
      </div>
    </section>
    <div class="divider"></div>
    <section class="puppies">
      <h2>Our Puppies</h2>
      <p class="meta">These are our most powerful, easy to use, feature filled and fast loading products of them all.</p>
      <div class="swiper-container feat-puppies">
        <ul class="swiper-wrapper">
          <li class="swiper-slide pairs">
            {{ range $i, $top := .Site.Data.puppies.top }}
            {{ $file := replaceRE " " "-" (index $.Site.Data.puppies.top $i | lower) }}
            {{ $img := resources.Get (print "img/" $file ".jpg") }}
            <div class="pup-item" style="background-image:url('{{ $img.Permalink }}');">
              <h3>{{ $top }}</h3>
              <a href="{{ $.Site.BaseURL }}services/{{ $file }}" id="button" class="button-lg">Learn More</a>
            </div>
            {{ end }}
          </li>
          <li class="swiper-slide pairs">
            {{ range $i, $bottom := .Site.Data.puppies.bottom }}
            {{ $file := replaceRE " " "-" (index $.Site.Data.puppies.bottom $i | lower) }}
            {{ $img := resources.Get (print "img/" $file ".jpg") }}
            <div class="pup-item" style="background-image:url('{{ $img.Permalink }}');">
              <h3>{{ $bottom }}</h3>
              <a href="{{ $.Site.BaseURL }}services/{{ $file }}" id="button" class="button-lg">Learn More</a>
            </div>
            {{ end }}
          </li>
        </ul>
      </div>
    </section>
    <div class="divider"></div>
  </main>
  {{ partial "footer.html" . }}
{{ end }}